#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
.container h1 {
    color: white;
}

#headerwrap h1 {
    margin-top: 30px;
    color: #343637;
    font-size: 70px;
    text-align: center;

}

#headerwrap h2 {
    font-size: 40px;
    text-align: center;

}


#headerwrap h3 {
    font-size: 30px;
    text-align: center;

}

#headerwrap h5 {
    color: white;
    font-weight: 700;
    text-align: center;
}

#headerwrap p {
    text-align: left;
    color: white
}


/*
 * Page: Login & Register
 * ----------------------
 */
.login-logo,
.register-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}
.login-logo a,
.register-logo a {
  color: #444;
}
.login-page,
.register-page {
  background: transparent;
}
.login-box,
.register-box {
  width: 360px;
  margin: 7% auto;
}
@media (max-width: 768px) {
  .login-box,
  .register-box {
    width: 90%;
    margin-top: 20px;
  }
}
.login-box-body,
.register-box-body {
  height: 100%;
  width: 100%;
}
.login-box-body,
.register-box-body {
  background-color: #3883b5;
  background-image: url("../img/welcome/HeShe.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  padding-top: 30px;
    padding-right: 110px;
    padding-bottom: 30px;
    padding-left: 110px;
  border-top: 0;
  color: black;
}

.login-box-body .form-controls-feedback,
.register-box-body .form-controls-feedback {
  color: #000000;
  position: centered;
}
.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
.social-auth-links {
  margin: 10px 0;
}

.form-controls {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000000;
  background-color: transparent;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-controls:focus {
  border-color: #66afe9;
  outline: 0;
}
.form-controls::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-controls:-ms-input-placeholder {
  color: #999;
}
.form-controls::-webkit-input-placeholder {
  color: #999;
}
.form-controls[disabled],
.form-controls[readonly],
fieldset[disabled] .form-controls {
  cursor: not-allowed;
  background-color: #000000;
  opacity: 1;
}
textarea.form-controls {
  height: auto;
}

nav {
    color: #fff;
    background-color: #605ca8;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
